In [33]:
import pandas as pd

pd.read_csv('../data/concat_1.csv')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [34]:
myList = ['Luiz', 89, True, 'Dog', False]

myList[2] = 'José'
myList.append('new value')
print(myList)

['Luiz', 89, 'José', 'Dog', False, 'new value']

In [35]:
myTuple = ('Carro', 69, False, 'pessoa')

print(myTuple[0])

Carro

In [36]:
myDict = {'fname': 'Qin', 'lname': 'Shi Huang'}
fn = myDict['fname']
ln = myDict.get('lname')

print(fn, ln)
print(myDict.keys())
print(myDict.values())
print(myDict.items())

Qin Shi Huang
dict_keys(['fname', 'lname'])
dict_values(['Qin', 'Shi Huang'])
dict_items([('fname', 'Qin'), ('lname', 'Shi Huang')])

In [37]:
list = ['um', 'dois', 'tres', 'quatro', 'cinco']

print(list[1:4:2])

['dois', 'quatro']

In [38]:
l = [1,2,3,4,5,6]

for i in l:
    print('the current value is {}'.format(i))
    print('the cube of this value is {}'.format(i**3))
    print('end of loop, going back to the top\n')

the current value is 1
the cube of this value is 1
end of loop, going back to the top

the current value is 2
the cube of this value is 8
end of loop, going back to the top

the current value is 3
the cube of this value is 27
end of loop, going back to the top

the current value is 4
the cube of this value is 64
end of loop, going back to the top

the current value is 5
the cube of this value is 125
end of loop, going back to the top

the current value is 6
the cube of this value is 216
end of loop, going back to the top

In [39]:
l = [5,10,15,20,25,30,35,40]

rc = [i + 10 for i in l]

print(rc)

[15, 20, 25, 30, 35, 40, 45, 50]

In [40]:
def myMean(x, y, z=20):
    return (x + y + z) / 3

print(myMean(10,15,))

15.0

In [41]:
def myMean(*args):

    sum  = 0
    for i in args:
        sum += i
    return sum / len(args)
print(myMean(1,2,3,4,5,6,7,8,9))

5.0

In [1]:
def greetings(welcomeWord, **kwargs):

    print(welcomeWord)
    print(kwargs.get('fname'))
    print(kwargs.get('lname'))

greetings('helo', fname='Luiz', lname='Giehl')

helo
Luiz
Giehl

In [6]:
r = range(5)

print(list(r))
print(type(r))

[0, 1, 2, 3, 4]
<class 'range'>

In [6]:
import itertools

prod = itertools.product([1,2,3], ['a','b','c'])
list = []
for i in prod:
    list.append(i)
print(list)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [5]:
l = [1,2,3,4]

a, b, c, d = l

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [4]:
import pandas as pd

df = pd.read_csv('../data/concat_1.csv')


a = df['A']
print(a)
print(type(a))
print(a.values)
print(type(a.values))

0    a0
1    a1
2    a2
3    a3
Name: A, dtype: object
<class 'pandas.core.series.Series'>
['a0' 'a1' 'a2' 'a3']
<class 'numpy.ndarray'>

In [3]:
class Person(object):
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age

    def celebrate_birthday(self):
        self.age += 1

qh = Person(fname='Qin', lname='Shi Huang', age=35)
print(qh.fname)
print(qh.lname)
print(qh.age)

qh.celebrate_birthday()
print(qh.age)

Qin
Shi Huang
35
36

In [2]:
from odo import odo
import pandas as pd

df = odo('../data/concat_1.csv', pd.DataFrame)
print(df)

ImportError: cannot import name 'Iterator' from 'collections' (c:\Users\User\anaconda3\envs\pfe\Lib\collections\__init__.py)